@using Syncfusion.EJ2

<table class="table">
    <div id="top-bar">
        <div class="component">
            <span class="header">Components</span>
            <span><i class="fa fa-angle-right" style="font-size:16px"></i></span>
            <span class="header">Navigations</span>
            <span><i class="fa fa-angle-right" style="font-size:16px"></i></span>
            <span class="header">ContextMenu</span>
        </div>
    </div>
    <div id="feature">
        <div class="content">
            <div class="body-inner">
                ContextMenu
            </div>
            <div style="text-align:left">
                <div style="font-size:2vw">Overview</div>
                <div class="text">Context menu or right click menu is a graphical user interface that appears on the user right click/touch hold action. You can define the list of items that a context menu will contain, create multi-level menus and attach event handlers to the menu items.</div>
            </div>
            <div style="padding:2vw 0 2vw 0;text-align:left">
                <div style="font-size:1.5vw">Key Features</div>
                <div class="text">
                    <p>1. <b>Separator: </b>Supports menu items grouping by using the Separator.</p>
                    <p>2. <b>Icons and Navigations: </b>Supports items to have Icons and Navigation URL's.</p>
                    <p>3. <b>Template and Multilevel Nesting: </b>Supports template and multilevel nesting in ContextMenu.</p>
                    <p>4. <b>Accessibility: </b>Provided with built-in accessibility support that helps to access all the ContextMenu component features through the keyboard, screen readers, or other assistive technology devices.</p>
                </div>
            </div>
            <div class="link">
                <span style="float:left"><a href="https://ej2.syncfusion.com/documentation/context-menu/getting-started/">Documentation Link</a></span>
                <span style="float:right"><a href="https://ej2.syncfusion.com/aspnetmvc/ContextMenu/DefaultFunctionalities#/material">Samples Link</a></span>
            </div>
        </div>
    </div>
</table>