@using Syncfusion.EJ2

<table class="table">
    <div id="top-bar">
        <div class="component">
            <span class="header">Components</span>
            <span><i class="fa fa-angle-right" style="font-size:16px"></i></span>
            <span class="header">Layouts</span>
            <span><i class="fa fa-angle-right" style="font-size:16px"></i></span>
            <span class="header">Card</span>
        </div>
    </div>
    <div id="feature">
        <div class="content">
            <div class="body-inner">
                Card
            </div>
            <div style="text-align:left">
                <div style="font-size:2vw">Overview</div>
                <div class="text">The Cards component is a container-based user interface (UI) control built using HTML5/CSS3 markup and styles for displaying organized content. The card design is widely used in social media and e-commerce sites such as Facebook, Google Now, Amazon, Pinterest, and more. The cards are mostly used as entry points to more detailed views, such as in a gallery or dashboard.</div>
            </div>
            <div style="padding:2vw 0 2vw 0;text-align:left">
                <div style="font-size:1.5vw">Key Features</div>
                <div class="text">
                    <p>1. <b>Header : </b>Header supports to include title, subtitle along with image.</p>
                    <p>2. <b>Images and Title : </b>Support to include images with customizable caption positions in it.</p>
                    <p>3. <b>Action Buttons: </b>Supports to add buttons within the card either in vertical or horizontal alignment.</p>
                    <p>4. <b>Horizontal Card : </b>Allows to align card elements horizontally and also allows to stack the content vertically within horizontal alignment.</p>
                </div>
            </div>
            <div class="link">
                <span style="float:left"><a href="https://ej2.syncfusion.com/documentation/card/getting-started">Documentation Link</a></span>
                <span style="float:right"><a href="https://ej2.syncfusion.com/aspnetmvc/Card/BasicCard#/material">Samples Link</a></span>
            </div>
        </div>
    </div>
</table>