@using Syncfusion.EJ2

<table class="table">
    <div id="top-bar">
        <div class="component">
            <span class="header">Components</span>
            <span><i class="fa fa-angle-right" style="font-size:16px"></i></span>
            <span class="header">Layouts</span>
            <span><i class="fa fa-angle-right" style="font-size:16px"></i></span>
            <span class="header">Avatar</span>
        </div>
    </div>
    <div id="feature">
        <div class="content">
            <div class="body-inner">
                Avatar
            </div>
            <div style="text-align:left">
                <div style="font-size:2vw">Overview</div>
                <div class="text">The ASP.NET MVC Avatar is a pure CSS control used to add initials, icons, or images representing people or objects in different shapes and sizes. Easily integrate the Avatar with other controls like ListView, Card, NavBar, and Badge.</div>
            </div>
            <div style="padding:2vw 0 2vw 0;text-align:left">
                <div style="font-size:1.5vw">Key Features</div>
                <div class="text">
                    <p>1. <b>Types : </b>Provided 2 types of avatars such as default and circle.</p>
                    <p>2. <b>Sizes : </b>Supports 7 different sizes to adapt the various application scenario.</p>
                </div>
            </div>
            <div class="link">
                <span style="float:left"><a href="https://ej2.syncfusion.com/aspnetmvc/documentation/avatar/getting-started">Documentation Link</a></span>
                <span style="float:right"><a href="https://ej2.syncfusion.com/aspnetmvc/Avatar/Default#/material">Samples Link</a></span>
            </div>
        </div>
    </div>
</table>
