<table class="table">
    <div id="top-bar">
        <div class="component">
            <span class="header">Components</span>
            <span><i class="fa fa-angle-right" style="font-size:16px"></i></span>
            <span class="header">Navigations</span>
            <span><i class="fa fa-angle-right" style="font-size:16px"></i></span>
            <span class="header">Sidebar</span>
        </div>
    </div>
    <div id="feature">
        <div class="content">
            <div class="body-inner">
                Sidebar
            </div>
            <div style="text-align:left">
                <div style="font-size:2vw">Overview</div>
                <div class="text">The ASP.NET MVC Sidebar control is an expandable and collapsible container area that holds primary and secondary information placed alongside the main content of a webpage.</div>
            </div>
            <div style="padding:2vw 0 2vw 0;text-align:left">
                <div style="font-size:1.5vw">Key Features</div>
                <div class="text">
                    <p>1. <b>Target: </b>Sidebar can be initialized in any HTML element other than the body element.</p>
                    <p>2. <b>Types and positions: </b>Supports Push, Over, Slide, and Auto to expand or collapse the Sidebar, and also allows to position it in the Left or Right direction.</p>
                    <p>3. <b>Auto close: </b>Allows to set the Sidebar in an expanded or collapsed state only in certain resolutions.</p>
                    <p>4. <b>Dock: </b>By default, supports display of short notifications about the content on docked mode.</p>
                </div>
            </div>
            <div class="link">
                <span style="float:left"><a href="https://ej2.syncfusion.com/documentation/sidebar/getting-started">Documentation Link</a></span>
                <span style="float:right"><a href="https://ej2.syncfusion.com/aspnetmvc/Sidebar/DefaultFunctionalities#/material">Samples Link</a></span>
            </div>
        </div>
    </div>
</table>
