@using Syncfusion.EJ2

<table class="table">
    <div id="top-bar">
        <div class="component">
            <span class="header">Components</span>
            <span><i class="fa fa-angle-right" style="font-size:16px"></i></span>
            <span class="header">Inputs</span>
            <span><i class="fa fa-angle-right" style="font-size:16px"></i></span>
            <span class="header">Input Mask</span>
        </div>
    </div>
    <div id="feature">
        <div class="content">
            <div class="body-inner">
                Input Mask
            </div>
            <div style="text-align:left">
                <div style="font-size:2vw">Overview</div>
                <div class="text">The ASP.NET MVC input mask, or masked textbox control, provides an easy and reliable way to collect user input based on a standard mask. It allows you to capture phone numbers, date values, credit card numbers, and other standard format values.</div>
            </div>
            <div style="padding:2vw 0 2vw 0;text-align:left">
                <div stytle="font-size:2vw">Key Features</div>
                <div class="text">
                    <p>1. <b>Custom Characters : </b>Allows you to use your own characters as the mask elements.</p>
                    <p>2. <b>Regular Expression : </b>Can be used as a mask element for each character of the MaskedTextBox.</p>
                    <p>3. <b>Accessibility : </b>Provides built-in accessibility support which helps to access all the MaskedTextBox component features through keyboard, on-screen readers, or other assistive technology devices.</p>
                </div>
            </div>
            <div class="link">
                <span style="float:left"><a href="https://ej2.syncfusion.com/aspnetmvc/documentation/maskedtextbox/getting-started-mvc">Documentation Link</a></span>
                <span style="float:right"><a href="https://ej2.syncfusion.com/aspnetmvc/MaskedTextBox/DefaultFunctionalities#/material">Samples Link</a></span>
            </div>
        </div>
    </div>
</table>