    #dropArea {
    min-height: 50px;
    padding-top: 15px;
    position: relative;
    }

    #drop {
    padding: 3% 30% 3%;
    display: inherit;
    border: 1px dashed #c3c3cc
    }

    .droparea {
    font-size: 13px;
    } 

    .e-bigger .droparea {
    font-size: 14px;
    } 

    .control_wrapper {
    max-width: 400px;
    margin: auto;
    }

    .e-file-select-wrap {
    display: none;
    }

    .e-upload {
    float: none;
    border: none;
    }

    .ul-element {
    list-style: none;
    width: 100%;
    padding-left: 0;
    }

    .file-name {
    padding: 8px 6px 8px 0;
    font-size: 13px;
    width: 46%;
    display: inline-block;
    position: relative;
    top: 4px;
    }

    .e-bigger .file-name {
    font-size: 14px;
    }

    .file-size {
    padding: 4px;
    font-size: 13px;
    width: 18%;
    display: inline-block;
    position: relative;
    }

    .e-bigger .file-size {
    font-size: 14px;
    }

    .file-lists {
    border: 1px solid lightgray;
    padding: 0 6px 0 14px;
    margin-top: 15px;
    position: relative;
    background: #d0cdcd;
    }

    .file-size, .file-name {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    }

    .progress-bar-container {
    display: block;
    float: right;
    height: 20px;
    right: 13%;
    top: 14px;
    position: relative;
    width: 20%;
    }

    .progress{
    width: 100%;
    height: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    }

    .close-icon-container
    {
    cursor: pointer;
    font-size: 11px;
    height: 24px;
    margin: 0 12px 0 22px;
    padding: 0;
    position: absolute;
    right: 0;
    width: 24px;
    top: 6px;
    }

    .close-icon-container::before {
    left: 7px;
    position: inherit;
    top: 7px;
    content: '\e932';
    }

    .delete-icon::before {
    content: '\e94a';
    }

    .close-icon-container:hover {
    background-color: #d0cdcd;
    border-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 transparent;
    }

    .highcontrast .close-icon-container:hover {
    background-color: #ffd939;
    }

    .highcontrast .close-icon-container {
    color: #ffffff;
    }

    .upload-success {
    color: #2bc700;
    }

    .upload-fails {
    color: #f44336;
    }

    progress::-webkit-progress-bar {
    border: 1px solid lightgrey;
    background-color: #ffffff;
    border-radius: 2px;
    }
    #dropArea progress {
    border: 1px solid lightgrey;
    background-color: #ffffff;
    border-radius: 2px;
    }
    .highcontrast #dropArea progress {
    border: none;
    background-color: #000000;
    }
    .highcontrast progress::-webkit-progress-bar {
    border: none;
    background-color: #000000;
    }
    .material progress::-webkit-progress-value {
    border-radius: 2px; 
    background-color: #ff4081;
    }
    .bootstrap progress::-webkit-progress-value {
    border-radius: 2px; 
    background-color: #1f496e;
    }
    .fabric progress::-webkit-progress-value {
    background-color: #1763ff;
    border-radius: 2px; 
    top: -66px;
    }
    .highcontrast progress::-webkit-progress-value {
    background-color: #ffd939;
    border-radius: 2px; 
    }
    .material progress::-moz-progress-bar {
    border-radius: 2px; 
    background-color: #ff4081;
    }
    .bootstrap progress::-moz-progress-bar {
    border-radius: 2px; 
    background-color: #1f496e;
    }
    .fabric progress::-moz-progress-bar {
    background-color: #1763ff;
    border-radius: 2px; 
    top: -66px;
    }
    .highcontrast progress::-moz-progress-bar {
    background-color: #ffd939;
    border-radius: 2px; 
    }
