<div class="content">
    <div> Responsive Sidebar using Content Template</div>
</div>
<style>
    .content {
        margin-top: 15vw;
        text-align: center;
        font-size: 32px;
        color: #1784c7;
    }
</style>